.customcontainer {
    margin-bottom: 10px;
    max-width: 50rem;
}

.sinopsis {
    font-size: 13px;
}

.cardImagenFirstCarousel {
    min-width: 248px;
    max-width: 248px;
    min-height: 325.47px;
    max-height: 325.47px;
    // max-height: 300px;
}

.cardImagenSecondCarousel {
    min-width: 271.98px;
    max-width: 271.98px;
    min-height: 381.06px;
    max-height: 381.06px;
}

.cardContenido {
    padding-top: 5%;
}

.imagenesBottom {
    padding-top: 5%;
}

.thumbnailImage {
    min-width: 186.5px;
    max-width: 186.5px;
    max-height: 256.16px;
    min-height: 256.17px;
}